.navbar-form {
    display: flex;
    flex-direction: row;
    margin: 7px 5px;
}

.navbar-form input {
    margin-right: 5px;
}

@media only screen and (min-width: 992px) {
    .navbar-form input {
        width: 300px;
    }
}