.match-card {
    width: 80%;
    margin: 20px auto;
}

.visible-content, .hidden-content {
    display: flex;
    justify-content: space-between;
}

.visible-content span {
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.border-around {
    border: 1px solid lightgray;
    padding: 2px 5px;
    border-radius: 10px;
    background-color: lightgray;
}

.champ-data, .items-data {
    display: flex;
    flex-direction: column;
}

.kda-data {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kda-ratio {
    font-size: 20px !important;
}

.expand-details {
    margin-left: auto !important;
}

.expand {
    transform: rotate(0deg);
}

.expand-open {
    transform: rotate(180deg);
}

.win-card {
    background-color: lightblue !important;
}

.lose-card {
    background-color: lightcoral !important;
}

.spell-info, .item-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 0;
}

.spell-info .spell-name, .item-info .item-name {
    margin-left: 10px;
}

.more-button {
    margin: 20px auto;
    display: flex;
}

@media only screen and (max-width: 991px) {
    .visible-content, .hidden-content {
        flex-direction: column;
        align-items: center;
    }

    .visible-content .KDA, .items-data {
        margin: 20px 0 !important;
    }
}